In [2]:
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt 
from sklearn.ensemble import RandomForestClassifier

train = pd.read_csv(r'C:\Users\Amash\Projects\Strive\Build_Weeks\Build_2\data\train.csv')

3. Feature engineering need to be done today so , I think moving averages, and time shifts(daily,weekly and monthly)on the resp, resp1, resp2, resp3, resp4. Maybe calculating volatility would be an idea (I have code on how to do that if help calculating needed) & calculate resp1, resp2, resp3 and resp4 for test.csv

In [3]:
train.head()

,date,weight,resp_1,resp_2,resp_3,resp_4,resp,feature_0,feature_1,feature_2,...,feature_121,feature_122,feature_123,feature_124,feature_125,feature_126,feature_127,feature_128,feature_129,ts_id
0,0,0.000000,0.009916,0.014079,0.008773,0.001390,0.006270,1,-1.872746,-2.191242,...,NaN,1.168391,8.313583,1.782433,14.018213,2.653056,12.600292,2.301488,11.445807,0
1,0,16.673515,-0.002828,-0.003226,-0.007319,-0.011114,-0.009792,-1,-1.349537,-1.704709,...,NaN,-1.178850,1.777472,-0.915458,2.831612,-1.417010,2.297459,-1.304614,1.898684,1
2,0,0.000000,0.025134,0.027607,0.033406,0.034380,0.023970,-1,0.812780,-0.256156,...,NaN,6.115747,9.667908,5.542871,11.671595,7.281757,10.060014,6.638248,9.427299,2
3,0,0.000000,-0.004730,-0.003273,-0.000461,-0.000476,-0.003200,-1,1.174378,0.344640,...,NaN,2.838853,0.499251,3.033732,1.513488,4.397532,1.266037,3.856384,1.013469,3
4,0,0.138531,0.001252,0.002165,-0.001215,-0.006219,-0.002604,1,-3.172026,-3.093182,...,NaN,0.344850,4.101145,0.614252,6.623456,0.800129,5.233243,0.362636,3.926633,4

In [4]:
resps = train.columns[2:7]

In [5]:
resps

Index(['resp_1', 'resp_2', 'resp_3', 'resp_4', 'resp'], dtype='object')

In [20]:
def get_lags(df, column):
    df[column+'_lag_1'] = df[column].shift(1)
    df[column+'_lag_7'] = df[column].shift(7)
    df[column+'_lag_30'] = df[column].shift(30)
    return df

In [21]:
def get_daily_average(df, column):
    means = train.groupby('date')['resp'].mean()
    df[column+'_daily_mean'] = df['date'].map(means)
    return df

In [25]:
for resp in resps:
    get_lags(train, resp)
    get_daily_average(train, resp)

In [12]:
means = train.groupby('date')['resp'].mean()

In [13]:
d = train[['date', 'resp']]

In [17]:
d['date'].map(means)

0          0.002285
1          0.002285
2          0.002285
3          0.002285
4          0.002285
             ...
2390486    0.000299
2390487    0.000299
2390488    0.000299
2390489    0.000299
2390490    0.000299
Name: date, Length: 2390491, dtype: float64

In [24]:
get_daily_average(d, 'resp')

         date      resp  resp_lag_1  resp_lag_7  resp_lag_30  resp_daily_mean
0           0  0.006270         NaN         NaN          NaN         0.002285
1           0 -0.009792    0.006270         NaN          NaN         0.002285
2           0  0.023970   -0.009792         NaN          NaN         0.002285
3           0 -0.003200    0.023970         NaN          NaN         0.002285
4           0 -0.002604   -0.003200         NaN          NaN         0.002285
...       ...       ...         ...         ...          ...              ...
2390486   499  0.015396    0.008368    0.004211     0.000877         0.000299
2390487   499 -0.004718    0.015396    0.007146    -0.001717         0.000299
2390488   499  0.016591   -0.004718   -0.006681     0.006038         0.000299
2390489   499 -0.002004    0.016591    0.000428    -0.000095         0.000299
2390490   499 -0.001905   -0.002004   -0.005862    -0.001758         0.000299

[2390491 rows x 6 columns]

In [23]:
d

         date      resp  resp_lag_1  resp_lag_7  resp_lag_30
0           0  0.006270         NaN         NaN          NaN
1           0 -0.009792    0.006270         NaN          NaN
2           0  0.023970   -0.009792         NaN          NaN
3           0 -0.003200    0.023970         NaN          NaN
4           0 -0.002604   -0.003200         NaN          NaN
...       ...       ...         ...         ...          ...
2390486   499  0.015396    0.008368    0.004211     0.000877
2390487   499 -0.004718    0.015396    0.007146    -0.001717
2390488   499  0.016591   -0.004718   -0.006681     0.006038
2390489   499 -0.002004    0.016591    0.000428    -0.000095
2390490   499 -0.001905   -0.002004   -0.005862    -0.001758

[2390491 rows x 5 columns]

In [26]:
train

,date,weight,resp_1,resp_2,resp_3,resp_4,resp,feature_0,feature_1,feature_2,...,resp_3_lag_30,resp_3_daily_mean,resp_4_lag_1,resp_4_lag_7,resp_4_lag_30,resp_4_daily_mean,resp_lag_1,resp_lag_7,resp_lag_30,resp_daily_mean
0,0,0.000000,0.009916,0.014079,0.008773,0.001390,0.006270,1,-1.872746,-2.191242,...,NaN,0.002285,NaN,NaN,NaN,0.002285,NaN,NaN,NaN,0.002285
1,0,16.673515,-0.002828,-0.003226,-0.007319,-0.011114,-0.009792,-1,-1.349537,-1.704709,...,NaN,0.002285,0.001390,NaN,NaN,0.002285,0.006270,NaN,NaN,0.002285
2,0,0.000000,0.025134,0.027607,0.033406,0.034380,0.023970,-1,0.812780,-0.256156,...,NaN,0.002285,-0.011114,NaN,NaN,0.002285,-0.009792,NaN,NaN,0.002285
3,0,0.000000,-0.004730,-0.003273,-0.000461,-0.000476,-0.003200,-1,1.174378,0.344640,...,NaN,0.002285,0.034380,NaN,NaN,0.002285,0.023970,NaN,NaN,0.002285
4,0,0.138531,0.001252,0.002165,-0.001215,-0.006219,-0.002604,1,-3.172026,-3.093182,...,NaN,0.002285,-0.000476,NaN,NaN,0.002285,-0.003200,NaN,NaN,0.002285
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2390486,499,0.000000,0.000142,0.000142,0.005829,0.020342,0.015396,1,-1.649365,-1.169996,...,0.003208,0.000299,0.011295,0.007429,0.001993,0.000299,0.008368,0.004211,0.000877,0.000299
2390487,499,0.000000,0.000012,0.000012,-0.000935,-0.006326,-0.004718,1,2.432943,5.284504,...,-0.000020,0.000299,0.020342,0.005168,-0.002522,0.000299,0.015396,0.007146,-0.001717,0.000299
2390488,499,0.000000,0.000499,0.000499,0.007605,0.024907,0.016591,1,-0.622475,-0.963682,...,0.001003,0.000299,-0.006326,-0.012472,0.005674,0.000299,-0.004718,-0.006681,0.006038,0.000299
2390489,499,0.283405,-0.000156,-0.000156,-0.001375,-0.003702,-0.002004,-1,-1.463757,-1.107228,...,0.001806,0.000299,0.024907,-0.000198,0.001659,0.000299,0.016591,0.000428,-0.000095,0.000299
2390490,499,0.000000,-0.001855,-0.001855,-0.001194,-0.000864,-0.001905,-1,-1.817184,-1.131577,...,-0.002145,0.000299,-0.003702,-0.008861,-0.004081,0.000299,-0.002004,-0.005862,-0.001758,0.000299

In [27]:
train.columns

Index(['date', 'weight', 'resp_1', 'resp_2', 'resp_3', 'resp_4', 'resp',
       'feature_0', 'feature_1', 'feature_2',
       ...
       'resp_3_lag_30', 'resp_3_daily_mean', 'resp_4_lag_1', 'resp_4_lag_7',
       'resp_4_lag_30', 'resp_4_daily_mean', 'resp_lag_1', 'resp_lag_7',
       'resp_lag_30', 'resp_daily_mean'],
      dtype='object', length=158)

In [36]:
resp_lag_avg = train.iloc[:,-20:]

In [44]:
resp_lag_avg.to_csv('resp_lag_avg.csv', index=False)

In [45]:
d = pd.read_csv('resp_lag_avg.csv')

In [46]:
d

,resp_1_lag_1,resp_1_lag_7,resp_1_lag_30,resp_1_daily_mean,resp_2_lag_1,resp_2_lag_7,resp_2_lag_30,resp_2_daily_mean,resp_3_lag_1,resp_3_lag_7,resp_3_lag_30,resp_3_daily_mean,resp_4_lag_1,resp_4_lag_7,resp_4_lag_30,resp_4_daily_mean,resp_lag_1,resp_lag_7,resp_lag_30,resp_daily_mean
0,NaN,NaN,NaN,0.002285,NaN,NaN,NaN,0.002285,NaN,NaN,NaN,0.002285,NaN,NaN,NaN,0.002285,NaN,NaN,NaN,0.002285
1,0.009916,NaN,NaN,0.002285,0.014079,NaN,NaN,0.002285,0.008773,NaN,NaN,0.002285,0.001390,NaN,NaN,0.002285,0.006270,NaN,NaN,0.002285
2,-0.002828,NaN,NaN,0.002285,-0.003226,NaN,NaN,0.002285,-0.007319,NaN,NaN,0.002285,-0.011114,NaN,NaN,0.002285,-0.009792,NaN,NaN,0.002285
3,0.025134,NaN,NaN,0.002285,0.027607,NaN,NaN,0.002285,0.033406,NaN,NaN,0.002285,0.034380,NaN,NaN,0.002285,0.023970,NaN,NaN,0.002285
4,-0.004730,NaN,NaN,0.002285,-0.003273,NaN,NaN,0.002285,-0.000461,NaN,NaN,0.002285,-0.000476,NaN,NaN,0.002285,-0.003200,NaN,NaN,0.002285
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2390486,0.000337,0.000026,0.002078,0.000299,0.000337,0.000026,0.002078,0.000299,0.003490,0.001270,0.003208,0.000299,0.011295,0.007429,0.001993,0.000299,0.008368,0.004211,0.000877,0.000299
2390487,0.000142,0.000272,0.000611,0.000299,0.000142,0.000272,0.000611,0.000299,0.005829,0.000798,-0.000020,0.000299,0.020342,0.005168,-0.002522,0.000299,0.015396,0.007146,-0.001717,0.000299
2390488,0.000012,0.000298,0.000450,0.000299,0.000012,0.000298,0.000450,0.000299,-0.000935,-0.005393,0.001003,0.000299,-0.006326,-0.012472,0.005674,0.000299,-0.004718,-0.006681,0.006038,0.000299
2390489,0.000499,0.000083,0.000778,0.000299,0.000499,0.000083,0.000778,0.000299,0.007605,-0.000720,0.001806,0.000299,0.024907,-0.000198,0.001659,0.000299,0.016591,0.000428,-0.000095,0.000299
2390490,-0.000156,-0.000072,0.000243,0.000299,-0.000156,-0.000072,0.000243,0.000299,-0.001375,-0.002696,-0.002145,0.000299,-0.003702,-0.008861,-0.004081,0.000299,-0.002004,-0.005862,-0.001758,0.000299